version: '3.8'

services:
  react-rickmorty-app:
    build:
      context: .
      dockerfile: Dockerfile
      target: production
    ports:
      - "2525:80"
    container_name: react-rickmorty-app
    restart: unless-stopped
    environment:
      - NODE_ENV=production 
    networks:
      - proxy-network

networks:
  proxy-network:
    external: true